<template> 
	
	<component :is="layout"></component>
	
</template>

<script>
	export default{
		computed: {
			layout(){
				//console.log(this.$route.meta.layout);
				
				return this.$route.meta.layout;
			}
		}
	}
</script>