<template>
<div class="container text-center">
	
        <div class="row ">
            <h4 class="text-center">
                <div><strong>Ingreso</strong></div>
            </h4>
                           
	        <form method="POST" action="#" id="form-login" @submit.prevent="FormLogin">
	            <div class="form-group row">
	                <div class="col-md-12">
	                    <input type="text" name="correo" v-model="objUsuario.email" class="form-control" placeholder="correo">
	                </div>
	            </div>

	            <div class="form-group row">
	            	<div class="input-group col-md-12 mb-3 mask-input-group">
  						<input name="password" class="form-control" v-model="objUsuario.password" placeholder="Ingresa tu contraseña">
					</div>
	            </div>

	            <button type="submit" class="btn btn-outline-primary">Ingresar</button>
	        </form>
        </div>
</div>
</template>

<script>

	export default{
		data(){
			return {
             
			   objUsuario : {email:'',password:''}
			}
		},
		methods: {
			FormLogin(){
				console.log(this.objUsuario.email, this.objUsuario.password);
				
				//almacenamiento de los inputs en una constante para luego enviarla por parametro por axios
				const params = {
					email: this.objUsuario.email,
					password : this.objUsuario.password
				};
				//limpiar los inputs
				this.objUsuario.email = '';
				this.objUsuario.password = '';


				axios.post('/api/login',params)
					.then(res => {
						console.log(res.data);
						//empuja a la 
						router.push({name:'index'});




					})
					.catch(err => {
						console.error(err); 
					})
			}


			
		}
	}
</script>